.NavBar {
  background-color: lightblue;
  flex-direction: row;
  height: 50px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-items: flex-start;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.container {
  width: 90%;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  margin: auto;
}

* {
  text-align: center;
}

Link {
  text-transform: capitalize;
}

.studentName {
  text-transform: capitalize;
}

.App {
  background-color: #43aaff;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 3rem;
}

.linkBox {
  border-radius: 20px;
  border-width: 2px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  font-size: 15px;
  color: white;
  border-color: white;
}

.linkBoxContainer {
  display: flex;
  justify-content: center;
}
